.PostList {
  padding: 20px;
  background: #eee;
  border: 2px solid #333;
  border-radius: 10px;
}

.Post {
  margin: 10px auto;
  border: 1px solid #333;
  border-radius: 8px;
}

.PostTitle {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.PostAuthor {
  font-weight: bold;
  margin-right: 20px;
}

.PostMessage {
  padding: 10px;
  background: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}