.PostForm {
  margin-bottom: 20px;
}

.FormAuthor {
  width: 70%;
  padding: 4px;
  margin-right: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
}

.FormButton {
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: bold;
  background: #bbb;
}

.FormMessage {
  max-width: 100%;
  min-width: 100%;
  max-height: 100px;
  min-height: 100px;
  margin-top: 10px;
  padding: 4px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 14px;
}